@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
.header {
  display: grid;
  grid-template-columns: 1fr -webkit-min-content;
  grid-template-columns: 1fr min-content;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
}

.header-top {
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content min-content;
  }
  .header-top {
    padding-top: 50px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (min-width: 992px) {
  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content;
  }
  .header-top {
    grid-column: 2/3;
    grid-row: 1/2;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .logo-box {
    grid-row: 1/-1;
  }
}
.footer {
  display: block;
}

@media (min-width: 375px) {
  .foot__cont {
    background-color: #F5F5FA;
  }
  .foot__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323264;
    padding: 30px;
  }
  .foot__block {
    text-align: center;
  }
  .foot__img {
    background-color: #FFFFFF;
    padding: 25px 100px;
  }
  .foot__img-01 {
    display: none;
  }
  .foot__img-02 {
    display: none;
  }
  .foot__img-03 {
    display: none;
  }
  .foot__hr {
    border: none;
    height: 2px;
    background-color: #E6E6F0;
    margin: 0px 20px;
  }
  .foot__address {
    padding-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #323264;
  }
  .foot__map {
    text-align: center;
    padding-bottom: 21px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
    text-decoration: none;
  }
  .foot_fb {
    text-align: center;
  }
  .foot_phone {
    text-align: center;
    padding-top: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #46466E;
    text-decoration: none;
  }
  .foot__email {
    padding-top: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #24A3FF;
    text-decoration: none;
  }
  .foot__dwn-text {
    padding-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #B3B3BA;
  }
  .foot__box {
    padding: 32px 0px 30px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .foot__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .foot__div-01 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 768px) {
  .foot__slaid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .foot__img {
    padding: 25px 39px;
  }
  .foot__img-01 {
    display: unset;
    background-color: #ffffff;
    padding: 25px 13px;
  }
  .foot__img-02 {
    display: unset;
    background-color: #ffffff;
    padding: 25px 0px;
  }
  .foot__img-03 {
    display: unset;
    background-color: #ffffff;
    padding: 25px 11px;
  }
  .foot__address::after {
    margin: 2px 10px;
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    background: #B3B3BA;
    border-radius: 5px;
  }
  .foot__map {
    line-height: 20px;
  }
  .foot_fb {
    text-decoration: none;
  }
  .foot_fb::after {
    margin: 0px 10px 16px 10px;
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    background: #B3B3BA;
    border-radius: 5px;
  }
  .foot_phone::after {
    margin: 1px 10px;
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    background: #B3B3BA;
    border-radius: 5px;
  }
  .foot__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .foot__div-01 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  min-width: 360px;
  margin: 0 auto;
  padding: 0 15px;
}

.address,
.fb,
.menu-list {
  display: none;
}

.menu-list {
  list-style: none;
  padding-left: 0;
}

.menu-list a {
  margin-left: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #24A3FF;
  text-decoration: none;
}

.menu-list .active {
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
}

.logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
}

.lang a {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  padding: 5px 7px;
  border-radius: 8px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #B3B3BA;
  text-decoration: none;
  display: block;
}

.lang a:not(.active):hover {
  background-color: #F5F5FA;
}

.lang .active {
  background-color: #F0145A;
  color: #FFFFFF;
}

.phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #B3B3BA;
  text-decoration: none;
}

.mobile-menu-btn {
  border: none;
  background: transparent;
  padding: 12px;
}

.text-about {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #323264;
}

.main__h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: 30px;
}

.main__text {
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #000000;
  padding-top: 28px;
}

.main__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hr {
  width: 4px;
  height: 322px;
  background-color: #E6E6F0;
  margin-right: 30px;
  margin-top: 40px;
}

.main__h5 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-left: 12px;
}

.main__text01 {
  padding-top: 10px;
}

.main__article {
  padding-top: 40px;
}

.main__bckgrnd-img {
  height: 114px;
  margin: 30px 0;
  background-image: url(../img/people.png);
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width: 375px) {
  .slash {
    margin-left: 4px;
    margin-top: 15px;
  }
  .lang-ul__active {
    opacity: 1;
  }
  .lang-li-01 {
    opacity: 0.2;
    padding-left: 14px;
  }
  .lang-li-02 {
    opacity: 0.2;
    padding-left: 14px;
  }
  .lang-li-03 {
    opacity: 0.2;
    padding-left: 14px;
  }
  .lang-li-04 {
    opacity: 0.2;
    padding-left: 14px;
  }
  .lang-li-05 {
    opacity: 0.2;
    padding-left: 14px;
  }
  .lang-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 30px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-head {
    width: 315px;
  }
  .logo-img {
    margin-top: 15px;
    width: 69.33px;
    height: 32px;
  }
  .text-about {
    margin: 15px 4px;
  }
  .header-back {
    background-color: #F5F5FA;
  }
}
@media (min-width: 768px) {
  .lang-li-03 {
    display: none;
  }
  .lang-li-04 {
    display: none;
  }
  .lang-li-05 {
    display: none;
  }
  .main__bckgrnd-img {
    height: 233px;
    background-image: url(../img/People_2.jpg);
  }
  .hr {
    width: 4px;
    height: 322px;
    background-color: #E6E6F0;
    margin-right: 30px;
    margin-top: 40px;
  }
  .main__text {
    width: 648px;
    height: 204px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
  }
  .main__h2 {
    font-size: 38px;
    line-height: 46px;
    width: 648px;
    text-align: center;
    height: 92px;
    margin-top: 60px;
  }
  .text-about {
    margin: 28px 0px 0px 0px;
    width: 159px;
    height: 44px;
    font-size: 36px;
    line-height: 44px;
  }
  .slash {
    margin-left: 0px;
    margin-top: 0px;
  }
  .slash svg {
    margin: 30px 4px 6px 4px;
    width: 21px;
    height: 47px;
  }
  .logo-img {
    margin-top: 32px;
    width: 130px;
    height: 46px;
  }
  .lang::after {
    margin: 9px 6px;
    content: "";
    width: 6px;
    height: 6px;
    background: #E6E6F0;
    border-radius: 5px;
  }
  .header-back {
    background-color: #FFFFFF;
  }
  .address::after {
    margin: 1px 6px;
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    background: #E6E6F0;
    border-radius: 5px;
  }
  .phone::after {
    margin: 1px 6px;
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    background: #E6E6F0;
    border-radius: 5px;
  }
  .address {
    margin-top: 3px;
  }
  .phone {
    margin-top: 2px;
  }
  .address,
  .fb,
  .menu-list {
    display: block;
  }
  .mobile-menu-btn {
    display: none;
  }
  .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 1024px) {
  .header-back {
    background-color: #FFFFFF;
  }
  .menu-list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .logo-box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header {
  display: grid;
  grid-template-columns: 1fr -webkit-min-content;
  grid-template-columns: 1fr min-content;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
}

.header-top {
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content min-content;
  }
  .header-top {
    padding-top: 50px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (min-width: 992px) {
  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content;
  }
  .header-top {
    grid-column: 2/3;
    grid-row: 1/2;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .logo-box {
    grid-row: 1/-1;
  }
}
.footer {
  display: block;
}

@media (min-width: 375px) {
  .foot__cont {
    background-color: #F5F5FA;
  }
  .foot__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323264;
    padding: 30px;
  }
  .foot__block {
    text-align: center;
  }
  .foot__img {
    background-color: #FFFFFF;
    padding: 25px 100px;
  }
  .foot__img-01 {
    display: none;
  }
  .foot__img-02 {
    display: none;
  }
  .foot__img-03 {
    display: none;
  }
  .foot__hr {
    border: none;
    height: 2px;
    background-color: #E6E6F0;
    margin: 0px 20px;
  }
  .foot__address {
    padding-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #323264;
  }
  .foot__map {
    text-align: center;
    padding-bottom: 21px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
    text-decoration: none;
  }
  .foot_fb {
    text-align: center;
  }
  .foot_phone {
    text-align: center;
    padding-top: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #46466E;
    text-decoration: none;
  }
  .foot__email {
    padding-top: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #24A3FF;
    text-decoration: none;
  }
  .foot__dwn-text {
    padding-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #B3B3BA;
  }
  .foot__box {
    padding: 32px 0px 30px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .foot__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .foot__div-01 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 768px) {
  .foot__slaid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .foot__img {
    padding: 25px 39px;
  }
  .foot__img-01 {
    display: unset;
    background-color: #ffffff;
    padding: 25px 13px;
  }
  .foot__img-02 {
    display: unset;
    background-color: #ffffff;
    padding: 25px 0px;
  }
  .foot__img-03 {
    display: unset;
    background-color: #ffffff;
    padding: 25px 11px;
  }
  .foot__address::after {
    margin: 2px 10px;
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    background: #B3B3BA;
    border-radius: 5px;
  }
  .foot__map {
    line-height: 20px;
  }
  .foot_fb {
    text-decoration: none;
  }
  .foot_fb::after {
    margin: 0px 10px 16px 10px;
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    background: #B3B3BA;
    border-radius: 5px;
  }
  .foot_phone::after {
    margin: 1px 10px;
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    background: #B3B3BA;
    border-radius: 5px;
  }
  .foot__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .foot__div-01 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=style.css.map */
