.footer {
    display: block;
}
@media (min-width:375px) {
    .foot__cont {
        background-color: #F5F5FA;;
    }
    .foot__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323264;
    padding: 30px;
    }
    .foot__block{
        text-align: center;
    }
    .foot__img {
        background-color: #FFFFFF;
        padding: 25px 100px;
    }
}